.box-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 400px;
  min-width: 390px;

  .gradient-box {
    width: 358px;
    height: 428px;
    position: absolute;
    bottom: 5%;
    filter: blur(40px);
    z-index: -20;
    background: radial-gradient(
      circle,
      rgba(255, 71, 226, 1) 0%,
      rgba(255, 71, 226, 0) 65%
    );
    background-blend-mode: hard-light;
  }
  .box-wrapper {
    display: flex;
    flex-direction: column;
    height: 291px;
    width: 194px;
    align-self: center;
  }
  .bf-xl-wrapper {
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 6%;
    width: 108.31px;
    height: 108.31px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 65%
    );

    .bf-xl {
      position: relative;
      right: -20%;
      top: 15%;
      width: 68.75px;
      height: 65.31px;
    }
  }
  .bf-sm-wrapper {
    z-index: 1;
    position: absolute;
    bottom: 55%;
    left: 6%;
    width: 95.16px;
    height: 95.16px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 65%
    );

    .bf-sm {
      position: relative;
      left: 20%;
      bottom: -20%;
      width: 49.47px;
      height: 47.92px;
    }
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .fu {
    position: absolute;
    bottom: 53.3%;
    left: 31.4%;
    z-index: 1;
    transform: translateY(50%); /* Start below */
    transition: transform 0.4s ease-in-out, transform 0.4s ease-in-out;

    &.slide-up {
      opacity: 1; /* Gradually become visible */
      transform: translateY(0); /* Slide up */
    }
  }

  .box-top {
    position: absolute;
    top: 25%;
    left: 23.5%;
    transition: transform 0.4s ease-in-out;
    z-index: 4;

    &.open {
      transform: translateY(-80%);
    }
  }
  .box-front {
    width: 187px;
    height: 152px;
    z-index: 3;
    position: absolute;
    bottom: 25%;
    left: 25%;
  }
  .box-bot {
    position: absolute;
    bottom: 25%;
    left: 25%;
    transition: transform 0.3s ease-in-out;
    &.open {
      transform: translateY(0);
    }
  }
  .box-shadow {
    width: 187px;
    position: absolute;
    bottom: 23.5%;
    left: 25%;
  }
  .box-btn {
    height: 300px;
    width: 200px;
    z-index: 30;
    bottom: 25%;
    left: 49.1%;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    background: transparent;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
  }
}
